.formWrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.titleActive {
  display: block;
  margin-bottom: 40px;
  letter-spacing: 3px;
}

.titleDisabled {
  display: none;
}

.formActive {
  display: block;
  transition: ease-in-out 1s;
  width: 50%;
  padding: 50px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 29px 5px rgb(139, 136, 136);
  background-color: rgb(58, 53, 53);
}

.formDisabled {
  display: none;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.errMsg {
  color: red;
  margin-bottom: 10px;
}

.lengthHandler {
  margin-bottom: 10px;
}